/* * { -webkit-appearance: none; } */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Barlow';
    src: url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

* {
    margin: 0;
    padding: 0;
}

.overlay {
    /* overlay */

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.header {
    height: 60px;
    position: relative;
    background: #94AEF1;
}

.head-text {
    /* Improvisation Coach */

    position: absolute;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
    /* Frame 1 */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px 20px; */
    flex-wrap: wrap;


    position: absolute;
    width: 944.74px;
    height: 552.38px;
    left: calc(50% - 944.74px/2 + 0px);
    top: 60px;

    background: #FFFFFF;
}

.opening {
    /* Auto Layout */

    position: absolute;
    width: 476px;
    height: 64px;
    top: 16px;
    z-index: 1;

    vertical-align: middle;

    /* background-color: green; */

}

.guide {
    /* Rectangle 2 */


    position: absolute;
    width: 328px;
    height: 64px;
    float: left;

    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F4F4F4;
    border-radius: 60px;
}

#guide-label {

    width: calc(328px - 24px);

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;

    z-index: 5;

    color: #000000;

}

#mobile-guide { display: none;}

.button-wrapper {
    position: relative;
    height: 100%;
    z-index: 2;
}

#daButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;

    width: 136px;
    height: 40px;

    z-index: 3;

    background: #B2E87C;
    border: 0.6px solid #000000;
    border-radius: 32px;

    font-family: Barlow;
    font-size: 18px;
    font-weight: 600;

}

#daButton:hover {
    background: #6ebc21;
}

.chords-container {
    position: absolute;
    width: 804px;
    height: 116px;
    top: 80px;
    margin-top: 16px;


    /* background: green; */
}

.chord {
    position: absolute;
    width: 192px;
    height: 116px;
    top: 0px;

    /* background: red; */
}

.chord-wrapper {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FCFCFC;
    border: 1px solid #6D6D6D;
    border-radius: 11px;
}

.roman-wrapper {
    position: absolute;
    left: -0.5px;
    top: -0.5px;
    height: 58px;
    width: 58px;

    background: rgba(171, 79, 173, 0.71);
    border-radius: 10px;

    border: solid rgba(171, 79, 173, 0.71) 0.5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.roman-label {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    line-height: 58px;

    vertical-align: middle;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    
    text-align: center;

    letter-spacing: 0;

    color: #FFFFFF;
}

.chord-name {
    position: absolute;
    left: 29.17%;
    right: 0%;
    top: 0%;
    bottom: 48.28%;

    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 60px;
    
    text-align: center;

    color: #000000;
}

.chord-notes {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 58px;
    bottom: 0%;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 54px;

    text-align: center;

    color: #6D6D6D;
}

#chord1 {
    left: 0px;
}

#chord2 {
    left: 204px;
}

#chord3 {
    left: 408px;
}

#chord4 {
    left: 612px;
}

.key-info {
    position: absolute;
    width: 556px;
    height: 284px;
    top: 212px;
    margin-top: 16px;

}

.scale-name {
    position: absolute;
    width: 272px;
    height: 84px;
    left: 0px;
    top: 0px;

    background: #F4F4F4;
    border-radius: 36px;
}

.scale-name-label {
    /* Scale Name: */


    position: absolute;
    width: 272px;
    height: 24px;
    left: 0px;
    top: 4px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 24px;

    color: #000000;
}

.scale {
    position: absolute;
    width: 272px;
    height: 76px;
    left: 0px;
    top: 8px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 76px;

    text-align: center;

    color: #000000;
}

.progression-viewer {
    position: absolute;
    width: 272px;
    height: 84px;
    left: 0px;
    top: 100px;

    background: #F4F4F4;
    border-radius: 36px;
}

.prog-viewer-label {
    position: absolute;
    width: 272px;
    height: 24px;
    left: 0px;
    top: 4px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 24px;

    color: #000000;
}

.progression {
    position: absolute;
    width: 272px;
    height: 76px;
    left: 0px;
    top: 8px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 76px;

    text-align: center;

    color: #000000;
}

.note-viewer {
    position: absolute;
    width: 556px;
    height: 84px;
    left: 0px;
    top: 200px;

    background: #F4F4F4;
    border-radius: 36px;
}

.note-viewer-label {
    position: absolute;
    width: 273px;
    height: 24px;
    left: 0px;
    top: 4px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 24px;

    color: #000000;

}

.notes {
    position: absolute;
    width: 556px;
    height: 76px;
    left: 0px;
    top: 8px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 76px;
    
    text-align: center;

    color: #000000;
}

.note-diagram-wrapper {
    position: absolute;
    width: 272px;
    height: 173px;
    left: 284px;
    top: 4px;

}

.note-diagram-label {
    position: absolute;
    width: 272px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 12px;

    color: #000000;
}

.note-diagram {
    position: absolute;
    width: 247px;
    height: 151px;
    left: 0px;
    top: 22px;

    background: url(/images/Piano\ note\ diagram.png);
}


/* FOR TESTING ONLY-- REMOVE LATER


#test-button {
    top: 550px;
    left: 50%;
    position: relative;
    background-color: red;
}

#test-p {
    top: 530px;
    left: 75%;
    position: relative;
}

END OF TESTING REGION */

/* Mobile Layout */

@media screen and (max-width: 490px) {
    
    .overlay {
        /* overlay */
    
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        width: 100%;
    }

    .header {
        height: 44px;
        width: 100%;
        position: absolute;

        background: #94AEF1;
    }
    
    .head-text {
        /* Improvisation Coach */
    
        position: absolute;
        
        font-family: Barlow;
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        color: #FFFFFF;
    
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .main {
        /* Auto Layout */
    
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 10px 20px; */
        flex-wrap: wrap;
    
        position: absolute;
        width: 378px;
        height: 624px;
        left: calc(50% - 378px/2);
        top: 60px;

    
        background: #FFFFFF;
    }
    
    .opening {
        /* Auto Layout */
        position: absolute;
        width: 337px;
        height: 56px;
        left: 21px;
        top: 0px;
        z-index: 1;
    
        vertical-align: middle;
    
        /* background-color: green; */
    
    }
    
    .guide {
        position: absolute;
        width: 227px;
        height: 56px;
        left: 0px;
        top: 0px;

        float: left;
    
        z-index: 4;
        /*
        display: flex;
        align-items: center;
        justify-content: center;
        */
        background: #F4F4F4;
        border-radius: 60px;
    }
    
    #guide-label { display: none; }

    #mobile-guide {
        position: absolute;
        display: inline-block;
        
        width: calc(227px - 20px);
        height: 100%;
        top: 8.7px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
    
        z-index: 5;
    
        color: #000000;

    }
    
    .button-wrapper {
        position: relative;
        height: 100%;
        z-index: 2;
    }
    
    #daButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
    
        width: 98px;
        height: 48px;
        /*
        left: 239px;
        top: 4px;
        */
    
        z-index: 3;
    
        background: #B2E87C;
        border: 0.6px solid #000000;
        border-radius: 32px;
    
        font-family: Barlow;
        font-size: 18px;
        font-weight: 600;
    
    }
    
    #daButton:hover {
        background: #6ebc21;
    }
    
    .chords-container {

        position: absolute;
        width: 376px;
        height: 220px;
        left: 1px;
        top: 56px;

        margin-top: 16px;
    
        background: green;
    }
    
    .chord {
        position: absolute;
        width: 183px;
        height: 105px;
        left: 0px;
        top: 0px;

        /* background: red; */
    }
    
    .chord-wrapper {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    
        background: #FCFCFC;
        border: 1px solid #6D6D6D;
        border-radius: 11px;
    }
    
    .roman-wrapper {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 56px;
        width: 56px;
    
        background: rgba(171, 79, 173, 0.71);
        border-radius: 11px;
    
        /* border: solid rgba(171, 79, 173, 0.71) 0.5px; */
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .roman-label {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    
        line-height: 56px;
    
        vertical-align: middle;
    
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        
        text-align: center;
    
        letter-spacing: 0;
    
        color: #FFFFFF;
    }
    
    .chord-name {
        position: absolute;
        left: 29.17%;
        right: 0%;
        top: 0%;
        bottom: 48.28%;

        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 57px;
        
        /*
        display: flex;
        align-items: center;
        */

        text-align: center;

        color: #000000;
    }
    
    .chord-notes {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 44.83%;
        bottom: 0%;
    
        font-family: Barlow;
        font-style: normal;
        font-size: 31px;
        line-height: 62px;
    
        text-align: center;

        color: #6D6D6D;
    }
    
    #chord1 {
        left: 0px;
    }
    
    #chord2 {
        left: 193px;
    }
    
    #chord3 {
        top: 115px;
        left: 0px;
    }
    
    #chord4 {
        top: 115px;
        left: 193px;
    }
    
    .key-info {
        display: none;

        position: absolute;
        width: 556px;
        height: 284px;
        top: 212px;
        margin-top: 16px;
    
    }
    
    .scale-name {
        position: absolute;
        width: 272px;
        height: 84px;
        left: 0px;
        top: 0px;
    
        background: #F4F4F4;
        border-radius: 36px;
    }
    
    .scale-name-label {
        /* Scale Name: */
    
    
        position: absolute;
        width: 272px;
        height: 24px;
        left: 0px;
        top: 4px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-indent: 24px;
    
        color: #000000;
    }
    
    .scale {
        position: absolute;
        width: 272px;
        height: 76px;
        left: 0px;
        top: 8px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 76px;
    
        text-align: center;
    
        color: #000000;
    }
    
    .progression-viewer {
        position: absolute;
        width: 272px;
        height: 84px;
        left: 0px;
        top: 100px;
    
        background: #F4F4F4;
        border-radius: 36px;
    }
    
    .prog-viewer-label {
        position: absolute;
        width: 272px;
        height: 24px;
        left: 0px;
        top: 4px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-indent: 24px;
    
        color: #000000;
    }
    
    .progression {
        position: absolute;
        width: 272px;
        height: 76px;
        left: 0px;
        top: 8px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 76px;
    
        text-align: center;
    
        color: #000000;
    }
    
    .note-viewer {
        position: absolute;
        width: 556px;
        height: 84px;
        left: 0px;
        top: 200px;
    
        background: #F4F4F4;
        border-radius: 36px;
    }
    
    .note-viewer-label {
        position: absolute;
        width: 273px;
        height: 24px;
        left: 0px;
        top: 4px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-indent: 24px;
    
        color: #000000;
    
    }
    
    .notes {
        position: absolute;
        width: 556px;
        height: 76px;
        left: 0px;
        top: 8px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 76px;
        
        text-align: center;
    
        color: #000000;
    }
    
    .note-diagram-wrapper {
        position: absolute;
        width: 272px;
        height: 173px;
        left: 284px;
        top: 4px;
    
    }
    
    .note-diagram-label {
        position: absolute;
        width: 272px;
        height: 24px;
        left: 0px;
        top: 0px;
    
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-indent: 12px;
    
        color: #000000;
    }
    
    .note-diagram {
        position: absolute;
        width: 247px;
        height: 151px;
        left: 0px;
        top: 22px;
    
        background: url(/images/Piano\ note\ diagram.png);
    }
    
    
    /* FOR TESTING ONLY-- REMOVE LATER */
    
    
    #test-button {
        top: 550px;
        left: 50%;
        position: relative;
        background-color: red;
    }
    
    #test-p {
        top: 530px;
        left: 75%;
        position: relative;
    }
   

}