/* * { -webkit-appearance: none; } */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Barlow';
    src: url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}


html, body {
    margin:0 auto;
}

.overlay {
    /* overlay */

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: rgba(0, 0, 0, 0.9);
}

.main {
    /* Frame 1 */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;

    position: absolute;
    width: 944.74px;
    height: 552.38px;
    left: calc(50% - 944.74px/2 + 0px);
    top: 82.65px;

    background: #FFFFFF;
}

.header {
    /* Auto Layout */

    position: absolute;
    height: 72px;
    left: 0px;
    right: 1px;
    top: 0px;

    background: #94AEF1;
}

.head-text {
    /* Improvisation Coach */


    position: absolute;
    height: 29px;
    left: 366px;
    right: 365px;
    top: calc(50% - 29px/2 + 0.5px);

    font-family: Barlow;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    /* display: flex; */
    align-items: center;
    text-align: center;
    margin-top: -32px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opening {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 581.01px;
    height: 75px;
    left: 181.87px;
    top: 10px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

#num {
    font-size: 50px;
    font-weight: bold;
    font-family: garamond;
    margin: 3px;
    margin-bottom: 20px
}

#daButton {

}

button:hover {
    background-color: #dcdcdc;
}