/* * { -webkit-appearance: none; } */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Barlow';
    src: url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

* {
    margin: 0;
    padding: 0;
}

.overlay {
    /* overlay */

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: rgba(0, 0, 0, 0.9);
}

.header {
    height: 60px;
    position: relative;
    background: #94AEF1;
}

.head-text {
    /* Improvisation Coach */

    position: absolute;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display: flex; 
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    */

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
    /* Frame 1 */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px 20px; */

    position: absolute;
    width: 944.74px;
    height: 552.38px;
    left: calc(50% - 944.74px/2 + 0px);
    top: 82.65px;

    background: #FFFFFF;
}

.opening {
    /* Auto Layout */

    position: absolute;
    width: 476px;
    height: 64px;
    
    vertical-align: middle;

    background-color: green;

}

.guide {
    /* Rectangle 2 */


    position: absolute;
    width: 328px;
    height: 64px;
    float: left;
    background: #F4F4F4;
    border-radius: 60px;
}

#guide-label {
    position: absolute;
    width: 304px;
    height: 64px;
    

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

#daButton {
    position: absolute;
    width: 136px;
    height: 40px;
    float: right;
    overflow: auto;
    
    background: #B2E87C;
    border: 0.6px solid #000000;
    border-radius: 32px;

    font-family: Barlow;
}
